Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
build/
release/
debug/
compile
config.guess
config.sub
configure
depcomp
install-sh
mingw/
missing
*.in
*#
*~
callgrind.out.*
m4/
config.log
ltmain.sh
.atom-build.json
.linter-clang-includes
