prefix=%
exec_prefix=${prefix}
includedir=${prefix}/include
libdir=${exec_prefix}/lib

Name: gtkglcanvas
Description: GTK+ 3.0 OpenGL widget library
Version: 1.0.0
Cflags:
Libs: -L${libdir} -lgtkglcanvas
